/**
 * main.css
 * The bulk of the website's styling.
 *
 * @author Nathan Campos <nathan@innoveworkshop.com>
 */

html, body {
	font-family: Arial, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;

	margin: 0;
	color: #282828;
}

body {
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

hr {
	height: 1px;
	border: 0 none;

	background-color: #585858;
	color: #585858;
}

a {
	color: #138700;
	text-decoration: none;
}

a:hover, a:active {
	color: #0a4c00;
	border-bottom: 1px solid #138700;
}

a.email {
	color: #636363;
	letter-spacing: 1px;
}

pre {
	font-family: Courier New, monospace;
}

pre.code-block {
	max-width: 800px;
	padding: 5px;
	overflow-x: scroll;

	background-color: #ffefd5;
}

/**
 * Website title area.
 */
#title-head {
	margin-bottom: 10px;
}

#title-head h1 {
	margin: 0;

	font-size: 22pt;
	font-weight: normal;
}

#title-head #breadcrumbs {
	font-size: 10pt;
}

/**
 * Navigation bar.
 */
#navbar .spacer {
	display: inline-block;
	display: -moz-inline-box;
	visibility: hidden;

	width: 10px;
	text-align: center;
}

/**
 * Content area.
 */
#content .section h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#content img {
	max-width: 100%;
}

/**
 * Project area.
 */
#content .project-comp h3 {
	margin-bottom: 0;
}

#content .project-comp p {
	margin-top: 0.3em;
}

/**
 * Blog stuff.
 */
#content .post-year {
	margin-bottom: 0;
}

#content .post-listing {
	margin-top: 7px;
	margin-bottom: 7px;
}

#content #blog-post h2 a {
	font-weight: normal;
	font-size: 0.9em;
}

#content #blog-post h2 {
	margin-bottom: 0;
}

#content #blog-post #published-date {
	margin-bottom: 15px;
	color: #636363;
}

#content .blog-image {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#content #plain-text {
	font-family: Courier, Courier New, monospace;
}

#content #plain-text code {
	display: inline-block;
	font-family: inherit;
	padding: 1em;
	background-color: #f6f6f6;
}

#content #plain-text h3 {
	margin-top: -0.5em;
	margin-bottom: -1em;

	font-size: 1em;
	line-height: 1em;
	font-weight: bold;
}

/**
 * Image gallery.
 */
#content .image-gallery {
	margin: 0 auto;
	border-spacing: 10px;
}

#content .image-gallery td {
	width: 250px;
	text-align: center;
}

#content .image-gallery img {
	width: 250px;
}

#content .image-gallery .caption {
	margin-top: 5px;
	text-align: center;
}

/**
 * Footer
 */
#footer .last-modified {
	font-size: 9pt;
}
